.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Styles Header */

header {
  padding: 1em 0;
  position: relative;
  background-color: var(--primary-color);
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-background);
}

.primary-navigation {
  position: absolute;
  top: 100%;
  left: 0%;
  background: var(--primary-color);
  transition: clip-path ease-in-out 700ms;
}

.primary-navigation[data-state="opened"] {
  animation: clipPathCircleOpen 750ms ease-in-out forwards;
  display: block;
}

.primary-navigation[data-state="closing"] {
  animation: clipPathCircleClose 750ms ease-in-out forwards;
}
.primary-navigation[data-state="closed"] {
  display: none;
}

@keyframes clipPathCircleOpen {
  0% {
    clip-path: circle(0% at top left);
  }
  100% {
    clip-path: circle(250% at top left);
  }
}
@keyframes clipPathCircleClose {
  0% {
    clip-path: circle(250% at top left);
  }
  100% {
    clip-path: circle(0% at top left);
  }
}

.site-nav li {
  border-bottom: 1px solid var(--primary-color);
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: var(--color-background);
  display: block;
  padding: 2em 2em 2em 1.5em;
  /* text-transform: uppercase; */
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: var(--primary-color);
}

.menu-toggle {
  padding: 1em;
  background: transparent;
  border: 0;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  cursor: pointer;
}

.menu-toggle:focus-visible {
  outline: 4px solid var(--color-background);
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: var(--color-background);
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

[aria-expanded="true"] .hamburger {
  transform: rotate(45deg);
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
}

[aria-expanded="true"] .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* End header */

/* Styles banner ads */

.banner-ads {
  background-color: var(--text-color-white);
  min-height: 250px;
  min-width: 300px;
}

/* End styles banner ads */

/* Info boxes */

#info-boxes {
  display: flex;
  height: 8dvh;
  min-width: 60dvw;
  background-color: var(--primary-color);
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info-box {
  display: flex;
  height: 5dvh;
  width: 15dvw;
  background-color: var(--secondary-color);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.news-content {
  background-color: var(--text-color-white);
  width: 95dvw;
  justify-self: center;
}

.info-news {
  background-color: var(--color-background);
  display: flex;
  height: 3dvh;
  gap: 12px;
  align-items: center;
  padding: 10px 0px;
}

.news-content > h2,
h3,
h4 {
  padding: 15px 0px 0px 0px;
}

p {
  padding: 15px 0px 0px 0px;
  text-indent: 20px;
}

footer {
  height: calc(var(--altura-div) + 5rem);
}

#banner-google-ads-bot {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: var(--altura-div);
  background-color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .text-news {
    background-color: var(--accent-color);
    max-width: 900px;
  }
}
