/* Styles Header */

header {
    padding: 1em 0;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
}
  
header::after {
    content: "";
    clear: both;
    display: block;
}

.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
.logo {
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-background);
}
  
.primary-navigation {
    position: absolute;
    top: 100%;
    left: 0%;
    background: var(--primary-color);
    transition: clip-path ease-in-out 700ms;
}
  
.primary-navigation[data-state="opened"] {
    animation: clipPathCircleOpen 750ms ease-in-out forwards;
    display: block;
}
  
.primary-navigation[data-state="closing"] {
    animation: clipPathCircleClose 750ms ease-in-out forwards;
}

.primary-navigation[data-state="closed"] {
    display: none;
}
  
@keyframes clipPathCircleOpen {
    0% {
      clip-path: circle(0% at top left);
    }
    100% {
      clip-path: circle(250% at top left);
    }
}

@keyframes clipPathCircleClose {
    0% {
      clip-path: circle(250% at top left);
    }
    100% {
      clip-path: circle(0% at top left);
    }
}
  
.site-nav li {
    border-bottom: 1px solid var(--primary-color);
}
  
.site-nav li:last-child {
    border-bottom: none;
}
  
.site-nav a {
    color: var(--color-background);
    display: block;
    padding: 2em 2em 2em 1.5em;
    /* text-transform: uppercase; */
    text-decoration: none;
}
  
.site-nav a:hover,
.site-nav a:focus {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: var(--primary-color);
}
  
.menu-toggle {
    padding: 1em;
    background: transparent;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5em;
    cursor: pointer;
}
  
.menu-toggle:focus-visible {
    outline: 4px solid var(--color-background);
}
  
.hamburger,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    background: var(--color-background);
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
  
.hamburger::before {
    transform: translateY(-6px);
}
  
.hamburger::after {
    transform: translateY(3px);
}
  
[aria-expanded="true"] .hamburger {
    transform: rotate(45deg);
}
  
[aria-expanded="true"] .hamburger::before {
    opacity: 0;
}
  
[aria-expanded="true"] .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}
  
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
/* End header */