@media screen and (min-width: 768px) {
    .text-news {
      background-color: var(--accent-color);
      max-width: 900px;
    }

    #news{
      width: 73dvw;
      display: flex;
      flex-direction: column;
      justify-self: center;
      margin: 0 2rem;

    }
}